<div class="home-page">
    <div class="box">

        <div class="title">
            <span class="block"></span>
            <%= link_to ('<h1>Social Finance<span></span></h1>').html_safe, my_portfolio_path %>
        </div>

        <div class="role">
            <div class="block"></div>
            <%= link_to ('<p>Stock Tracker</p>').html_safe, my_portfolio_path %>
        </div>

    </div>
</div>
